/* width */
::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(#bbbfca, #f4f4f2);
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(#bbbfca, #f4f4f2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
